
/* GENERAL
=================== */

body {
  font-family: 'museo-sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  overflow-x:hidden;
}

* {
  box-sizing: border-box;
}

a.language {
  padding: 5px;
  margin-bottom: -5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 0.66em;

  -webkit-transition: letter-spacing 0.1s ease;

  transition: letter-spacing 0.1s ease;
  opacity: 0.2;
  position: absolute;
  top: 30px;
  right: 5vw;
}

p {
  font-family: 'soleil', sans-serif;
}

header {
  background-color: #F5F5F0;
  overflow: auto;
  padding: 40px 25px;
  z-index: 20;
}

header img.logo {
  width: 2em;
  opacity: 0.18;
  margin-bottom: 30px;
}

header h1#title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 15px;
}

header span#subtitle {
  display: block;
  font-weight: 100;
  color: #4D4D4D;
  font-family: 'soleil', sans-serif;
}

a, a:active, a:visited, a:focus, a:hover {
  color: #000;
  text-decoration: none;
}

header a.button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 0.6em;
  color: #C9C9C5;
  display: inline-block;
  padding: 8px;
  margin-left: -8px;
  margin-top: 20px;
  -webkit-transition: letter-spacing 0.1s ease;
  transition: letter-spacing 0.1s ease;
}

header div.head .description {
  font-size: 0.7em;
  margin-top: 20px;
  line-height: 2em;
  font-family: 'soleil', sans-serif;
}


header ul.social-links {
  padding: 20px 0 0;
  margin: 0;
  list-style: none;
  display: block;
  text-align: right;
  margin-right: -15px;
  margin-bottom: -5px;
}

header ul.social-links > li {
  display: inline-block;
  margin-right: 10px;
}

header ul.social-links > li > a {
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 0.66em;

  -webkit-transition: letter-spacing 0.1s ease;

  transition: letter-spacing 0.1s ease;
}

ul.projects {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  background-color: white;
}

ul.projects > li:first-child {
  border-top: 1px solid #F5F5F0;
}

ul.projects > li {
  border-bottom: 1px solid #F5F5F0;
}

ul.projects > li.light-blue > a
  { box-shadow: inset -15px 0px #3195F9; }
ul.projects > li.red > a
  { box-shadow: inset -15px 0px #F55667; }
ul.projects > li.blue > a
  { box-shadow: inset -15px 0px #955BFF; }
ul.projects > li.carmine > a
  { box-shadow: inset -15px 0px #E94142; }
ul.projects > li.pink > a
  { box-shadow: inset -15px 0px #F1868E; }
ul.projects > li.yellow > a
  { box-shadow: inset -15px 0px #FCEF44; }
ul.projects > li.green > a
  { box-shadow: inset -15px 0px #81E6C8; }


ul.projects > li > a {

  padding: 30px 25px 32px;
  display: block;
  -webkit-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  margin-bottom: -1px;
}

ul.projects > li > a span {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 0.7em;
  font-weight: 500;
  opacity: 0.25;
  display: inline-block;
  margin-bottom: 5px;
}

ul.projects > li > a span.tag {
  border: 1px solid black;
  margin-right: 5px;
  display: inline-block;
}

ul.projects > li > a div.tags {
  padding-top: 5px;
}

ul.projects > li > a div.tags > span {
  border: 1px solid black;
  display: inline-block;
  padding: 2px 4px;
}

ul.projects > li > a h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.5em;
}

div.inner-project {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  overflow: auto;
  height: 100%;
  font-size: 0.8em;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}

div.inner-project h1 {
  margin-bottom: 10px;
  font-size: 1.85em;
  margin-left: -2.7px;
  color: rgba(0,0,0,0.75);
} 

div.inner-project span.project-subtitle {
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 0.6;
  letter-spacing: 2px;
  display: block;
}

div.inner-project p {
  line-height: 1.8em;
}

div.inner-project#light-blue > div.header
  { background-color: #3195F9; }
div.inner-project#red > div.header
  { background-color: #F55667; }
div.inner-project#blue > div.header
  { background-color: #955BFF; }
div.inner-project#carmine > div.header
  { background-color: #E94142; }
div.inner-project#pink > div.header
  { background-color: #F1868E; }
div.inner-project#yellow > div.header
  { background-color: #FCEF44; }
div.inner-project#green > div.header
  { background-color: #81E6C8; } 

div.inner-project > div.header {
  margin: 0;
  padding: 0 25px 30px 25px;
  height: 50vh;
  /*overflow: auto;*/
  position: relative;
}

div.inner-project > div.header div.header-content {
  position: absolute;
  width: calc(100% - 50px);
  bottom: 30px;
}

div.inner-project a.site-anchor {
  display: inline-block;
  font-weight: 900;
  margin-top: 15px;
  opacity: 0.4;
  font-size: 0.8em;
  text-transform: uppercase;
}

div.inner-project p {
  width: calc(100% - 40px);
}

div.inner-project div.content {
  padding: 0 25px 40px 25px;
  margin-top: 30px;
}

div.inner-project a.site-anchor span {
  letter-spacing: 2px;
  -webkit-transition: letter-spacing 0.1s ease;
  transition: letter-spacing 0.1s ease;
}

div.inner-project a.site-anchor i {
  padding-left: 5px;
}

a.contact {
  margin-left: 5px;
  display: inline-block;
  color: inherit;
  font-size: 0.8em;
}

div.inner-project a.go-back {
  display: inline-block;
  position: fixed;
  top: 25px;
  font-weight: 900;
  opacity: 0.25;
  font-size: 1.75em;
  z-index: 30;
}

div.inner-project .content {
  position: relative;
}

div.inner-project span.hint {
  -webkit-transform: translateX(50%) rotate(270deg) translateX(-50%);
          transform: translateX(50%) rotate(270deg) translateX(-50%);
  position: absolute;
  right: 25px;
  top: 0;
  margin-top: -15px;
  font-weight: 600;
  letter-spacing: 10px;
  opacity: 0.15;
  font-size: 1.2em;
  margin-right: 10px;
  text-transform: uppercase;
}

.collapsing {
}

.unslider {
  position: relative;
  margin-right: -25px !important;
  margin-left: -25px !important;
}

.slider .img-container {
  width: 100%;
  text-align: center;
}

.slider img {
  display: inline;
  max-height: 300px;
  max-width: 100%;
  box-shadow: 0 5px 50px #aaa;
  z-index: 10;
  margin: 50px 0;
}

.unslider-arrow.prev::before {
  content: "\f104";
}

.unslider-arrow::before {
  content: "\f105";
  font-family: FontAwesome;
  color: black;
  font-size: 2.5em;
  line-height: 0.65em;
}

.unslider-arrow {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 50%;
  right: -50px;
  left: auto;
  margin-top: -16px;

  overflow: hidden;
  color: transparent;
  background-size: 7px 11px;
  text-indent: 8px;
}

.unslider-arrow:hover {
  color: transparent;
}

/* ANIMATIONS
==================== */

.ng-enter div.inner-project a.go-back {
  opacity: 0;
  -webkit-transform: scale(3) translate(10px,0) rotate(120deg);
          transform: scale(3) translate(10px,0) rotate(120deg);
}

div.inner-project a.go-back {
  -webkit-transform: scale(1) translate(0,0) rotate(0deg) ;
          transform: scale(1) translate(0,0) rotate(0deg) ;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ng-enter div.inner-project h1 {
  opacity: 0;
  -webkit-transform: scale(1) translate(30px,0);
          transform: scale(1) translate(30px,0);
}

div.inner-project h1 {
  display: inline-block;
  -webkit-transform: scale(1) translate(0,0);
          transform: scale(1) translate(0,0);
  -webkit-transition: all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.ng-enter div.inner-project span.project-subtitle {
  opacity: 0;
  -webkit-transform: translate(50px,0);
          transform: translate(50px,0);
}

div.inner-project#light-blue div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #3195F9; }
div.inner-project#red div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #F55667; }
div.inner-project#blue div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #955BFF; }
div.inner-project#carmine div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #E94142; }
div.inner-project#pink div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #F1868E; }
div.inner-project#yellow div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #FCEF44; }
div.inner-project#green div.content-wrapper
  { box-shadow: inset 0px 0vh 0px #81E6C8; } 

.ng-enter div.inner-project#light-blue div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #3195F9; }
.ng-enter div.inner-project#red div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #F55667; }
.ng-enter div.inner-project#blue div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #955BFF; }
.ng-enter div.inner-project#carmine div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #E94142; }
.ng-enter div.inner-project#pink div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #F1868E; }
.ng-enter div.inner-project#yellow div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #FCEF44; }
.ng-enter div.inner-project#green div.content-wrapper
  { box-shadow: inset 0px 50vh 0px #81E6C8; } 


.ng-enter div.inner-project div.header {
  box-shadow: 0px 5px 25px rgba(0,0,0,0.0);
}

div.inner-project div.header {
  box-shadow: 0px 5px 25px rgba(0,0,0,0.25);
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

div.inner-project div.content-wrapper {
  overflow: auto;
  -webkit-transition: all 0.35s cubic-bezier(.85,0,.15,1);;
          transition: all 0.35s cubic-bezier(.85,0,.15,1);
}

div.inner-project span.project-subtitle {
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
  -webkit-transition: all 0.5s ease;
          transition:all 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.ng-enter div.inner-project a.site-anchor {
  opacity: 0;
  -webkit-transform: translate(40px,0);
          transform: translate(40px,0);
}

div.inner-project a.site-anchor {
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
  -webkit-transition: all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.ng-enter div.inner-project p {
  opacity: 0;
  -webkit-transform: translate(0px,50px);
          transform: translate(0px,50px);
}

div.inner-project p {
  opacity: 1;
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
  -webkit-transition: all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.ng-enter div.inner-project span.hint {
  opacity: 0;
}

div.inner-project span.hint {
  -webkit-transition: all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.ng-enter div.inner-project .slider {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

div.inner-project .slider {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

/* MOBILE-ONLY ANIMATIONS
==================== */

@media screen and (max-width: 767px) {

  div#view.ng-enter,
  div#view.ng-leave {
    width: 100%;
    -webkit-transition: all 0.8s cubic-bezier(.85,0,.15,1);
    transition: all 0.8s cubic-bezier(.85,0,.15,1);
  }

  div#view.inner.ng-enter,
  div#view.inner.ng-leave {
    width: 100%;
    -webkit-transition: all 0.8s cubic-bezier(.85,0,.15,1);
    transition: all 0.8s cubic-bezier(.85,0,.15,1);
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 30;
    height: 100vh;
  }

  div#view.inner.ng-leave {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0.01s;
            transition-delay: 0.01s;
  }

  div#view.inner.ng-leave-active {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    padding-top: 1px;
  }

  div#view.inner.ng-enter {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }

  div#view.inner.ng-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


/* MEDIA QUERIES
==================== */

@media screen and (min-width: 375px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 22px;
  }

  a.language {
    top: auto;
    position: absolute;
    bottom: 5vw;
    right: 5vw;
  }

  header {
    width: 40%;
    float: left;
    height: 100vh;
    padding: 40px 20px 40px 5%;
    position: relative;
  }

  header a.button:hover {
    letter-spacing: 4px;
  }

  header ul.social-links > li > a:hover {
    letter-spacing: 6px;
  }

  header img.logo {
    position: absolute;
    top: 5vw;
    display: block;
  }

  header div.head {
    position: absolute;
    top: 50vh;
    margin-top: -77px;
    padding-right: 20px;
    z-index: 10;
    -webkit-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
  }

  header div.head.higher {
    margin-top: -164.58px;
  }

  header ul.social-links {
    display: block;
    text-align: left;
    position: absolute;
    bottom: 5vw;
  }

  header div.head .description {
    max-width: 280px;
    padding-right: 20px;
  }

  header ul.social-links > li {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
  }

  header ul.social-links > li > a {
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-size: 0.66em;
  }

  ul.projects > li > a > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-52%);
            transform: translateY(-52%);
  }

  ul.projects > li > a {
    padding: 0 4vw;
    height: 19.98vh;
  }

  ul.projects > li > a {
    -webkit-transition: all 0.4s cubic-bezier(.63,.33,.3,.99) ;
    transition: all 0.4s cubic-bezier(.63,.33,.3,.99) ;
  }

  ul.projects > li > a:hover div.tags > span {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }


  ul.projects > li > a h2 {
    -webkit-transition: letter-spacing 0.2s ease;
    transition: letter-spacing 0.2s ease;
  }

  ul.projects > li > a:hover {
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }

  ul.projects > li > a:hover h2 {
    letter-spacing: 5px;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }

  ul.projects > li.carmine > a:hover h2,
  ul.projects > li.pink > a:hover h2 {
    letter-spacing: 3.5px;
  }

  ul.projects > li > a div.tags > span {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: none;
  }

  ul.projects > li > a div.tags {
    float: right;
    padding-top: 0;
    margin-top: -27px;
  }

  ul.projects > li {
    -webkit-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
  }

  ul.projects > li:hover {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    box-shadow: 0px 5px 25px #bbb;
    
  }

  ul.projects > li.light-blue > a:hover
  { box-shadow: inset -60vw 0px #3195F9;}
  ul.projects > li.red > a:hover
  { box-shadow: inset -60vw 0px #F55667;}
  ul.projects > li.blue > a:hover
  { box-shadow: inset -60vw 0px #955BFF;}
  ul.projects > li.carmine > a:hover
  { box-shadow: inset -60vw 0px #E94142;}
  ul.projects > li.pink > a:hover
  { box-shadow: inset -60vw 0px #F1868E;}
  ul.projects > li.yellow > a:hover
  { box-shadow: inset -60vw 0px #FCEF44;}
  ul.projects > li.green > a:hover
  { box-shadow: inset -60vw 0px #81E6C8;}


  div.inner-project {
    z-index: 10;
    height: 100vh;
    width: 100%;
    overflow: auto;
    /*padding: 0 5vw 40px 5vw;*/
    font-size: 0.8em;
    background-color: white;
    position: initial;
  }

  div.inner-project h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
  } 

  div.inner-project > div.header {
    margin: 0 0 0;
    padding: 0 5vw 50px 5vw;
    height: 50vh;
  }

  div.inner-project > div.header div.header-content {
    position: absolute;
    width: calc(100% - 10vw);
    bottom: 50px;
}

  div.inner-project a.site-anchor {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0;
  }

  div.inner-project a.go-back {
    display: inline-block;
    position: fixed;
    top: calc(5vw - 10px);
    font-weight: 900;
    opacity: 0.25;
    font-size: 1.75em;
    z-index: 30;
  }

  div.inner-project a.site-anchor:hover span {
    letter-spacing: 5px;
  }

  div.inner-project p {
    width: calc(100% - 100px);
  }

  div.inner-project span.hint {
    font-size: 1.5em;
    right: 5vw;
    margin-top: -20px;
  }

  div.inner-project div.content {
    padding: 0 5vw 40px 5vw;
    margin-top: 50px;
  }

  .unslider {
    margin: 0 !important;
  }

  .slider img {
    display: inline;
    max-height: 300px;
    max-width: calc(100% - 100px);
  }

  /* ANIMATIONS
  ==================== */

  #view-container {
    position: relative;
    height: 65px;
    width: 60%;
    float: right;
  }

  div#view.ng-enter,
  div#view.ng-leave {
    position: absolute;
    width: 100%;

    -webkit-transition: all 0.8s cubic-bezier(.85,0,.15,1);

    transition: all 0.8s cubic-bezier(.85,0,.15,1);
  }

  div#view.ng-leave {
    opacity: 1; 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }

  div#view.ng-leave-active {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }

  div#view.ng-enter {
    opacity: 0; 
    -webkit-transform: translateX(60vw); 
            transform: translateX(60vw);
    background-color: rgba(255, 255, 255, 0);
  }

  div#view.ng-enter-active {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .ng-enter ul.projects li a > div {
    opacity: 0;
    -webkit-transform: translate(100px,-52%);
            transform: translate(100px,-52%);
  }

  ul.projects li a > div {
    opacity: 1;
  }

  ul.projects > li.green > a  > div {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  ul.projects > li.pink > a > div {
    -webkit-transition: all 0.4s ease 0.05s;
    transition: all 0.4s ease 0.05s;
  }
  ul.projects > li.light-blue > a > div {
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
  }
  ul.projects > li.carmine > a > div {
    -webkit-transition: all 0.6s ease 0.15s;
    transition: all 0.6s ease 0.15s;
  }
  ul.projects > li.yellow > a > div {
    -webkit-transition: all 0.7s ease 0.2s;
    transition: all 0.7s ease 0.2s;
  }
  
  .ng-enter div.inner-project a.site-anchor {
    -webkit-transform: translate(-50px,0);
            transform: translate(-50px,0);
  }
}

@media screen and (min-width: 1150px) {
  ul.projects > li > a div.tags > span {
    display: inline-block;
  }
}


/* LOADER
=================== */

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #F5F5F0;
}

.loader > div {
  margin: 0 auto;
  margin-top: calc(50vh - 100px);
}

@-webkit-keyframes uil-facebook {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-facebook {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-facebook {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-facebook {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.uil-facebook-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-facebook-css > div {
  position: absolute;
  width: 40px;
  height: 120px;
  top: 40px;
  left: 20px;
  background: #cec9c9;
  opacity: 0.6;
  -webkit-animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
  animation: uil-facebook 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
}
.uil-facebook-css > div:nth-of-type(2) {
  left: 80px;
  opacity: 0.8;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.uil-facebook-css > div:nth-of-type(3) {
  left: 140px;
  opacity: 0.9;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}